body {
  margin-top: 188px;
  @include media($tablet) {
    margin-top: 114px;
  }
}

.site-header {
  background-color: #fff;
  .pre-header {
    font-size: 14px;
    background-color: $primary-color;
    color: #fff;
    @include media($tablet) {
      display: none;
    }
    .main-wrapper {
      position: relative;
      .header__coord {
        text-align: right;
        padding: 13px 160px 13px 0;
      }
      .espace-pro {
        background-color: $secondary-color;
        position: absolute;
        right: 20px;
        top: 0;
        padding: 22px 22px;
        border-radius: 0 0 4px 4px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  transition: padding 0.2s ease;
  &.compact {
    .pre-header {
      display: none;
    }
    .site-branding {
      .site-title {
        padding: 15px 0;
      }
    }
    .main-navigation {
      ul.nav-menu {
        margin-top: 41px;
        @include media($tablet) {
          margin-top: 82px;
        }
        @include media($mobile) {
          margin-top: 41px;
        }
        li {
          padding-bottom: 32px;
          @include media($tablet) {
            padding-bottom: 0;
          }
          ul.sub-menu {
            top: 81px;
            @include media($tablet) {
              top: 0;
            }
          }
        }
      }
    }
    @include media($mobile) {
      .site-branding {
        .site-title {
          img {
            width: 150px;
          }
        }
      }
    }
    .main-navigation {
      .menu-toggle {
        top: 25px;
        @include media($mobile) {
          top: 5px;
        }
      }
      ul.nav-menu {
        top: 42px;
      }
    }
  }
  @include media($tablet) {
    padding: 0;
  }

  .site-branding {
    @include span-columns(3);
    @include media($tablet) {
      @include span-columns(8);
    }
    .site-title {
      padding: 25px 0;
      &.site-title--compact {
        display: none;
      }
      @include media($tablet) {
        // margin-left: 20px;
      }
      img {
        width: 280px;
        transition: all 0.2s ease;
      }
    }
  }


  .main-navigation {
    @include span-columns(9);

    font-size: 18px;
    &.toggled ul.nav-menu {
      display: block;
    }
    @include media($tablet) {
      background: $primary-color;
      @include span-columns(12);
      margin-top: 0;
    }
    .menu-toggle {
      display: none;
      position: absolute;
      top: 40px;
      right: 20px;
      transition: all 0.2s ease;
      @include media($tablet) {
        display: block;
      }
      @include media($mobile) {
        top: 20px;
      }
    }
    .hamburger-title {
      display: block;
      font-size: 13px;
      font-weight: 300;
    }
    ul.nav-menu {
      @include row;
      float: right;
      @include media($tablet) {
        float: none;
        display: none;
        position: fixed;
        top: 94px;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background: $primary-color;
        padding: 20px;
        li.menu-item-has-children {
          a {
            padding: 10px 0 0;
          }
        }
      }
      @include media($mobile) {
        top: 64px;
      }
      padding: 0;
      margin: 0;
      margin-top: 50px;
      list-style-type: none;
      li {
        position: relative;
        display: inline;
        float: left;
        margin-right: 34px;
        padding-bottom: 43px;
        &:last-child {
          margin-right: 0;
        }
        @include media($large) {
          margin-right: 20px;
        }
        @include media($tablet) {
          display: block;
          margin: 0;
          float: none;
          padding-bottom: 0;
          a {
            &:after {
              display: none;
            }
          }
        }
        &.current-menu-item, &.current-menu-parent {
          a {
            &:after {
              content: "";
              position: absolute;
              width: 33%;
              height: 2px;
              bottom: 0;
              left: 33%;
              border-bottom: 2px solid $primary-color;
            }
          }
        }
        a {
          position: relative;
          display: block;
          text-decoration: none;
          color: $body-text;
          padding: 10px 0 15px;
          @include media($tablet) {
            color: #fff;
          }
          &:after {
            content: "";
            position: absolute;
            width: 33%;
            height: 2px;
            bottom: 0;
            left: 33%;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
          }
          &:hover {
            &:after {
              border-bottom: 2px solid $primary-color;
            }
          }

        }
        &:hover > ul.sub-menu {
          display: block;
        }
      }
      ul.sub-menu {
        z-index: 100;
        display: none;
        position: absolute;
        min-width: 200px;
        left: 50%;
        top: 92px;
        transform: translate(-50%, 0);
        background: $primary-color;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
        padding: 0 20px 10px;
        text-align: center;
        font-size: 16px;
        @include media($tablet) {
          display: block;
          position: relative;
          width: 100%;
          top: 0;
          text-align: left;
          background: transparent;
          border-bottom: none;
          box-shadow: none;
        }
        li {
          display: block;
          float: none;
          padding-bottom: 0;
          margin: 10px 0;
          a{
            color: #fff;
            padding: 10px 0;
            @include media($tablet) {
              color: #fff;
              padding: 5px 0;
            }
            &:after {
              content: "";
              position: absolute;
              width: 33%;
              height: 2px;
              bottom: 0;
              left: 33%;
              border-bottom: 2px solid transparent;
            }
            &:hover {
              &:after {
                border-bottom: 2px solid #fff;
              }
            }
          }
          &.current-menu-item {
            a {
              &:after {
                content: "";
                position: absolute;
                width: 33%;
                height: 2px;
                bottom: 0;
                left: 33%;
                border-bottom: 2px solid #fff;
              }
            }
          }
        }
      }
    }
  }
}
