.custom__content-block {
  @include span-columns(12);
  margin: 30px 0;
}
.custom__image-block {
  @include span-columns(12);
  margin: 30px 0;
  height: 365px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  @include media($tablet) {
    background-attachment: scroll;
  }
  &.shape1 {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  &.shape2 {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }
}

.custom__header {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: #dadada;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 230px;
  margin-bottom: 50px;
  @include media($mobile) {
    padding-top: 190px;
  }
  .main-wrapper {
    position: relative;
    z-index: 10;
  }
  h1 {
    font-size: 38px;
    padding-left: 30px;
    color: #fff;
    border-left: 1px solid $primary-color;
  }
  .custom__header__shading {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../img/carousel-shading.png");
  }
}
.c__carousel__wrap {

}
.c__masonry {
  margin: 30px 0 60px;
  .c__masonry__item {
    // @include span-columns(4);
    // @include omega(3n);
    width: 33.3%;
    @include media($tablet) {
      width: 50%;
    }
    @include media($mobile) {
      width: 100%;
    }
    color: #fff;
    line-height: 0;
    .c__masonry__caption {
      position: absolute;
      top:0%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      padding: 10px 0;
      font-size: 20px;
      line-height: 26px;
    }
  }
}


.c__carousel {
  margin-bottom: 60px;
  .c__carousel__item {
    width: 100%;
    height: 450px;
    @include media($mobile) {
      height: 350px;
    }
    background-repeat: no-repeat;
    background-position: center center;
    // background-attachment: fixed;
    background-size: cover;
    .c__carousel__caption {
      position: absolute;
      bottom:0%;
      width: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      padding: 10px 20px;
      font-size: 20px;
    }
  }
}


.custom__breadcrumbs {
  color: lighten($breadcrumbs-text, 20);
  font-size: 13px;
  a {
    color: lighten($breadcrumbs-text, 20);
    text-decoration: none;
  }
  span.current {
    color: $breadcrumbs-text;
  }
}
