.equipe__medecins {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      @include span-columns(12);
      margin: 20px 0;
      .medecin__image {
        @include span-columns(3 of 12);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        @include media($tablet) {
          @include span-columns(4 of 12);
        }
        @include media($mobile) {
          @include span-columns(12 of 12);
        }
      }
      .medecin__content {
        @include span-columns(9 of 12);
        @include omega;
        @include media($tablet) {
          @include span-columns(8 of 12);
        }
        @include media($mobile) {
          @include span-columns(12 of 12);
          padding: 0 20px;
          border: 1px solid darken($section-bg, 5);
        }
        .medecin__nom {
          font-size: 20px;
        }
      }
      &.medecin--odd {
        background: darken($section-bg, 5);
      }
    }
  }
}

.equipe__technique {
  margin: 30px 0;
}
