.faq {
  margin: 40px 0 90px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border;
      .question {
        font-size: 20px;
        padding-bottom: 5px;
        color: $body-text;
        cursor: pointer;
        display: block;
        text-decoration: none;
        user-select: none;

        &::before {
          content: "\25BC";
          font-size: 12px;
          margin-right: 0.5em;
          color: $primary-color;
        }
      }
      .expander-hidden {
        &::before {
          content: "\25BA";
          font-size: 12px;
        }
      }
      .reponse {
        color: lighten($body-text, 10);
        background: darken($section-bg, 5);
        padding: 20px;
      }
      .expander-hidden + .reponse {
        display: none;
      }
    }
  }
}
