.h__carousel {
  .carousel__item {
    color: #fff;

    min-height: 490px;
    padding-top: 250px;
    @include media($mobile) {
      padding-top: 180px;
    }
    background-color: #dadada;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .carousel__content {
      position: relative;
      z-index: 10;
      .carousel__subtitle, h2 {
        text-shadow: 0 1px 2px #333;
      }
      h2 {
        color: #fff;
        font-weight: 600;
      }

    }
    .carousel__shading {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url("../img/carousel-shading.png");
      // background-color: rgba(0, 0, 0, 0.3);
    }
    &.slick-active {
      .carousel__shading {
      display: block;
      }
    }
  }
}


article {
  @include row;
  @include media($tablet) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .h__article__content {
    @include span-columns(6, 'table');
    padding: 40px 100px;
    @include media($large) {
      padding: 40px;
    }
    @include media($tablet) {
      @include span-columns(12);
      padding: 20px;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
    h2 {
      border-left: 1px solid $primary-color;
      padding-left: 16px;
      color: $body-text;
      font-weight: 600;
    }
  }
  .h__article__image {
    @include span-columns(6, 'table');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    @include media($tablet) {
      @include span-columns(12);
      min-height: 350px;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
  }
  &.h__article--right {
    .h__article__content {
      @include media($tablet) {
        padding: 20px;
      }
    }
  }
  @include media($tablet) {
    background-image: none !important;
  }
}
