.contactbar {
  background-color: $section-bg;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
  padding: 50px 0;
  .contactbar__col {
    @include span-columns(4);
    @include media($tablet) {
      @include span-columns(12);
      margin-bottom: 40px;
      text-align: center;
    }
    .contactbar__icon {
      @include span-columns(0.5 of 4);
      @include media($tablet) {
        @include span-columns(4 of 4);
        margin-bottom: 10px;
      }
      color: $primary-color;
      padding-top: 30px;
      text-align: center;
    }
    .contactbar__content-wrapper {
      @include span-columns(3.5 of 4);
      @include media($tablet) {
        @include span-columns(4 of 4);
      }
      .contactbar__title {
        color: $section-title;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .contactbar__content {
        font-size: 24px;
      }
      a {
        color: $body-text;
        text-decoration: none;
      }
    }
  }
}
