.wpcf7-form {
  input {
    padding: 10px;
  }

}


.page-default {
  .wpcf7 {
    @include span-columns(6);
    @include media($tablet) {
      @include span-columns(12);
    }
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
