.screen-reader-text {
  display: none;
}

.main-wrapper {
  @include outer-container;
  padding: 0 20px;
}

.full-width {
  @include outer-container(100%);
}

img {
  max-width:100%;
  height:auto;
}

body {
  color: $body-text;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}


.menu-toggle {
  display: none;
  @include media($tablet) {
    display: block;
  }
}


h2 {
  color: $primary-color;
  font-weight: 400;
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
