@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$large: new-breakpoint(max-width 1199px 12);
$tablet: new-breakpoint(max-width 991px 12);
$mobile: new-breakpoint(max-width 767px 12);
