$primary-color : #CC424E;
$secondary-color: #1D5199;

$body-text: #192E46;

$section-bg: #FAFAFA;
$section-title: #8DA1B5;
$border: #eaeaea;

$footer-text: #DAE7F5;
$footer-bg: #516172;
$footer-sub-bg: #2F3C49;

$breadcrumbs-text: #8DA1B5;
