.site-footer {
  background-color: $footer-bg;
  color: $footer-text;
  .footer__main {
    padding: 45px 0;
    .footer__info {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(12);
        margin-bottom: 40px;
      }
      img {
        width: 50%;
      }
    }
    .footer__menu {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(12);
        margin-bottom: 40px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          margin-bottom: 5px;
          a {
            color: $footer-text;
            text-decoration: none;
            &:hover {
              color: #fff;
            }
          }
          ul.sub-menu {
            display: none;
          }
        }
      }
    }
    .footer__pro {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(12);
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          margin-bottom: 20px;
          a {
            color: $footer-text;
            text-decoration: none;
            &:hover {
              color: #fff;
            }
          }
          a.footer__pro--button {
            color: $footer-text;
            text-decoration: none;
            border: 1px solid lighten($footer-bg, 20);
            padding: 15px;
            border-radius: 4px;
            transition: all 0.2s ease;
            i {
              vertical-align: middle;
              padding: 10px 0;
              margin-right: 10px;
            }
            &:hover {
              background: $footer-text;
              color: $footer-bg;
            }
          }
        }
      }
    }
  }
  .footer__cred {
    padding: 10px 20px;
    background-color: $footer-sub-bg;
    color: #fff;
    font-size: 12px;
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        display: inline-block;
        border-right: 1px solid lighten($footer-sub-bg, 20);
        padding: 0 10px;
        &:last-of-type {
          border-right: none;
        }
        @include media($mobile) {
          display: block;
          padding: 0;
          border: none;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
.anamorphik-sign {
  vertical-align: middle;
  display: inline-block;
  line-height: 13px;
  img {
    width: 160px;
  }
}
